body {
    background-image: url(../images/fon.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: 100vw 100vh;
    overflow: hidden;

}

.text-accent,
.section-btn,
.checkbox-label,
.form-btn,
.input:hover {
    cursor: pointer;
}

.header-top {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top:hover {
    fill: #000;
    opacity: 0.41;
}

.header-div {
    position: relative;
}

.header-div::after {
    content: "";
    border-right: 1px solid rgba(255, 255, 255, 0.90);
    height: 19px;
    opacity: 0.5;
    position: absolute;
    top: 3px;
    left: 146px;
}

.header-logo {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}

.header-logo:hover {
    color: #01813F;

}

.header-div {
    display: flex;
    align-items: center;
}

.header-div-icons {
    display: flex;
    justify-content: space-between;
    width: 126px;
    align-items: center;
    margin-right: 20px;
}

.link-calendar {
    padding-left: 3px;
}

.header-div-icons-link:hover svg g path {
    fill: #01813F;
}

.link-compass {
    padding-right: 5px;
}

.header-text {
    color: #FFF;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.text-welcome-or {
    margin-left: 27px;
}

.text-accent:hover {
    color: #01813F;
}





.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 54px 0;
    width: 100vw;
    height: 100vh;
}

.section-create-account {
    max-width: 444px;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding: 30px 60px 38px 60px;
    position: relative;
}

.div-create-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.section-title {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.section-title::before {
    content: "";
    background-color: #3CB878;
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
}

.section-link-log-in {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.section-link-log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

.div-btn {
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.section-btn {
    color: #FFF;
    width: 160px;
    line-height: 16px;
    border: none;
    border-radius: 4px;
    padding-top: 17px;
    padding-bottom: 17px;

}

.btn-facebook {
    background-color: #305DB8;
    padding-right: 22px;
    padding-left: 67px;
    background-image: url(../images/facebook.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: top 12px left 11px;
    position: relative;
}

.btn-facebook:hover {
    background-color: #022263;
}

.btn-facebook::before {
    content: "";
    position: absolute;
    border-left: 1px solid #0A162F;
    height: 28px;
    top: 10px;
    left: 48px;
    opacity: 0.1;
}

.btn-google {
    background-color: #DF4A32;
    background-image: url(../images/google-new.svg);
    background-size: 30px 19px;
    background-repeat: no-repeat;
    background-position: left 12px top 15px;
    padding-left: 80px;
    padding-right: 27px;
    position: relative;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.btn-google::before {
    content: "";
    position: absolute;
    border-left: 1px solid #2B0D09;
    height: 28px;
    top: 10px;
    left: 49px;
    opacity: 0.1;
}

.form-group {
    padding: 0;
    margin: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-top: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.div-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 12px;
}

.form-title {
    padding: 0 2px 0 5px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    color: #848484;
    line-height: 14px;
}

.input {
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    font-size: 14px;
    line-height: 14px;
}

.input::placeholder {
    color: #BEBEBE;
}

.input-name {
    padding: 15px 10px 15px 19px;
}

.input-last-name {
    padding: 14px 10px 16px 20px;
}

.input-email {
    padding: 15px 10px 15px 20px;
}

.input-pass {
    padding: 16px 10px 15px 20px;
}

.input:focus {
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    outline: none;
    color: #434343;
}

.div-checkbox {
    position: relative;
    margin-bottom: 20px;
}

.checkbox-input {
    appearance: none;
    position: absolute;
}

.checkbox-label {
    color: #434343;
    padding-left: 28px;
    line-height: 14px;
}

.checkbox-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: rgba(0, 0, 0, 0.00);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox-label::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/ckeck.svg) no-repeat;
    background-size: 14px 14px;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
    opacity: 0;
}

.checkbox-input:checked+.checkbox-label::before {
    opacity: 1;
}

.checkbox-input:checked+.checkbox-label::after {
    opacity: 1;
}

.label-accent:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-btn {
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    border: none;
    line-height: 16px;
    padding: 16px 99px;
}

.form-btn:hover {
    background-color: #01813F;
}